@model EmpleadosCrud.WebUI.Models.EmpleadoViewModel

@{
    ViewData["Title"] = "AgregarEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AgregarEmpleado</h1>

<h4>tbEmpleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarEmpleado">
            @Html.AntiForgeryToken();
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="empe_Nombres" class="control-label"></label>
                <input asp-for="empe_Nombres" class="form-control" />
                <span asp-validation-for="empe_Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empe_Apellidos" class="control-label"></label>
                <input asp-for="empe_Apellidos" class="form-control" />
                <span asp-validation-for="empe_Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empe_Sexo" class="control-label"></label>
                <input asp-for="empe_Sexo" class="form-control" />
                <span asp-validation-for="empe_Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empe_Telefono" class="control-label"></label>
                <input asp-for="empe_Telefono" class="form-control" />
                <span asp-validation-for="empe_Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
